<h2>Register Form</h2>
<form action="/users/register" method="POST">
<div class="form-group">
    <label for="">Name</label>
    <input type="text" name="name" placeholder="Enter the name....">
</div>
<div class="form-group">
    <label for="">Username</label>
    <input type="text" name="username" placeholder="Enter the Username....">
</div>
<div class="form-group">
    <label for="">Email Id</label>
    <input type="text" name="email" placeholder="Enter the Email ID....">
</div>
<div class="form-group">
    <label for="">password</label>
    <input type="password" name="password1" placeholder="Enter the password....">
</div>
<div class="form-group">
    <label for="">Confirm password</label>
    <input type="text" name="password2" placeholder="Confirm the password....">
</div>
<button type="submit" class="btn btn-default">Register</button>
</form>