<h3>Login</h3>
<form action="/login" method="post">
    <label for="">Username</label>
    <input type="text" name="username" placeholder="username"><br>
    <label for="">Password</label>
    <input type="password" name = "password" placeholder="password"><br>
    <button type="submit">login</button>
</form>
<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>