<form action="/register" method="POST">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Password</label>
    <input type="password" name="password">
    <input type="submit" value="Submit">
</form>
<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>