<h4>Filter works!!</h4>
<%       data["Search"].forEach(function(movie){  %>
        <li><%=movie["Title"]%></li>
<%})%>

<h4>Filter works!!</h4>
<%       data.Search.forEach(function(movie){  %>
        <li><%=movie.Title%></li>
<%})%>